.about{
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #EAF2FD;
}
.about__container{
    display: flex;
    width: 1136px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.about__title{
    color: var #464646;
    font-size: 32px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about__paragraph{
    display: flex;
    width: 751px;
    flex-direction: column;
    color: #464646;
    font-size: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}