.hobbies{
    display: flex;
    width: 1136px;
    flex-direction: column;
    align-items: center;
    gap: 32px;  
}

.hobbies__title{
    color: #464646;
    text-align: center;
    font-size: 32px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hobbies__line{
    display: flex;
    width: 1136px;
    align-items: flex-start;
    gap: 16px;
    padding-bottom: 88px;
}

.hobbies__box{
    display: flex;
    width: 176px;
    height: 174px;
    padding: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    background: #FFF;
}